.countries {
  display: flex;
  flex-direction: column;

  .country {
    display: flex;
    justify-content: space-between;
    margin: 10px;

    .country-name {
      display: flex;
      font-size: x-large;
    }

    .stats {
      display: flex;
      justify-content: space-between;
    }

  }
}
