.countries {

  thead {
    text-align: left;
    th:last-child {
      text-align: right;
    }
  }

  .country {
    .country-name {
      font-size: x-large;
    }

    .deaths-per-capita {

      .progressbar {
        height: 20px;
      }
    }

  }
}
