.per-country-page-header {
  background: #eee;
  display: flex;
  justify-content: space-between;
}
.per-country-page {

  .info-text {
    font-weight: 300;
  }

  .info-small {
    font-size: smaller;
  }
}