.minigraph {
  display: flex;
  align-items: flex-end;

  .bars {
    display: flex;
    align-items: flex-end;

    .date {
      flex: 1;
    }
  }

  .legend {
    color: sienna;
    white-space: nowrap;
    padding-bottom: 3px;
    font-size: smaller;

    .value {
      font-weight: bolder;
    }
  }

  &.deaths {
    .bar {
      background-color: chocolate;
    }
  }
  &.cases {
    .bar {
      background-color: sienna;
    }
  }
}
