.minigraph {
  display: flex;
  align-items: flex-end;

  .bars {
    display: flex;
    align-items: flex-end;

    .date {
      flex: 1;
      position: relative;

      .bar{

      }
      .minigraph-hover {
        position: absolute;
        color: darkred;
        bottom: 1px;
        left: -70px;
        text-shadow: 0 0 3px #fafafa,
                     0 0 3px #fafafa,
                     0 0 3px #fafafa,
                     0 0 3px #fafafa,
                     0 0 3px #fafafa,
                     0 0 3px #fafafa,
                     0 0 3px #fafafa,
                     0 0 3px #fafafa;
        //backdrop-filter: blur(1px);

        .value {
          font-weight: bolder;
          font-size: larger;
        }
        .date {
          margin-top: -10px;
        }
      }
    }
  }

  .legend {
    color: sienna;
    white-space: nowrap;
    padding-bottom: 3px;
    font-size: smaller;

    .value {
      font-weight: bolder;
    }
  }

  &.deaths {
    .bar {
      background-color: chocolate;
      &.hover {
        background-color: sienna;
      }
    }
  }
  &.cases {
    .bar {
      background-color: sienna;
      &.hover {
        background-color: chocolate;
      }
    }
  }
}
