.minigraph {
  display: flex;
  align-items: flex-end;

  .bars {
    display: flex;
    align-items: flex-end;

    .date {
      flex: 1;

      .bar {
        background-color: chocolate;
      }
    }
  }

  .legend {
    color: sienna;
    white-space: nowrap;
    padding-bottom: 3px;
    font-size: smaller;

    .value {
      font-weight: bolder;
    }
  }
}
