.countries {

  thead {
    text-align: left;
    th:last-child {
      text-align: right;
    }
  }

  .country {

    .country-name {
      font-size: x-large;
      position: relative;

      .country-hover {
        position: absolute;
        display: flex;
        white-space: nowrap;
        background: white;
        padding: 2px;
        border: thin solid gainsboro;
        font-weight: bolder;
        border-radius: 2px;
        color: darkred;
        top: 1px;
        left: 120px;
      }

    }

    .deaths-per-capita {

      .progressbar {
        height: 20px;
      }
    }

  }
}
