body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mts {margin-top: 5px;}
.mtm {margin-top: 10px;}
.mtl {margin-top: 20px;}
.mtxl {margin-top: 40px;}
.mbs {margin-bottom: 5px;}
.mbm {margin-bottom: 10px;}
.mbl {margin-bottom: 20px;}
.mbxl {margin-bottom: 40px;}
.mls {margin-left: 5px;}
.mlm {margin-left: 10px;}
.mll {margin-left: 20px;}
.mlxl {margin-left: 40px;}
.mrs {margin-right: 5px;}
.mrm {margin-right: 10px;}
.mrl {margin-right: 20px;}
.mrxl {margin-right: 40px;}
.mhs {margin-left: 5px;margin-right: 5px;}
.mhm {margin-left: 10px;margin-right: 10px;}
.mhl {margin-left: 20px;margin-right: 20px;}
.mhxl {margin-left: 40px;margin-right: 40px;}
.mvs {margin-top: 5px;margin-bottom: 5px;}
.mvm {margin-top: 10px;margin-bottom: 10px;}
.mvl {margin-top: 20px;margin-bottom: 20px;}
.mvxl {margin-top: 40px;margin-bottom: 40px;}
.mas {margin: 5px;}
.mam {margin: 10px;}
.mal {margin: 20px;}
.maxl {margin: 40px;}
.pts {padding-top: 5px;}
.ptm {padding-top: 10px;}
.ptl {padding-top: 20px;}
.ptxl {padding-top: 40px;}
.pbs {padding-bottom: 5px;}
.pbm {padding-bottom: 10px;}
.pbl {padding-bottom: 20px;}
.pbxl {padding-bottom: 40px;}
.pls {padding-left: 5px;}
.plm {padding-left: 10px;}
.pll {padding-left: 20px;}
.plxl {padding-left: 40px;}
.prs {padding-right: 5px;}
.prm {padding-right: 10px;}
.prl {padding-right: 20px;}
.prxl {padding-right: 40px;}
.phs {padding-left: 5px;padding-right: 5px;}
.phm {padding-left: 10px;padding-right: 10px;}
.phl {padding-left: 20px;padding-right: 20px;}
.phxl {padding-left: 40px;padding-right: 40px;}
.pvs {padding-top: 5px;padding-bottom: 5px;}
.pvm {padding-top: 10px;padding-bottom: 10px;}
.pvl {padding-top: 20px;padding-bottom: 20px;}
.pvxl {padding-top: 40px;padding-bottom: 40px;}
.pas {padding: 5px;}
.pam {padding: 10px;}
.pal {padding: 20px;}
.paxl {padding: 40px;}
